@font-face {
	font-family: 'SF-UI-Display-Regular';
	src: 		  url('SF-UI-Display-Regular.ttf') format('truetype'),
  url('SF-UI-Display-Regular.otf')
   format('otf');
}
#buttonRetour, #buttonCreer, #menuButtonEdit, #menuButtonView{
    font-weight: bold;
}
.formulaire{
    background-image: url("../css/background.jfif")
}
h1{
	text-align: center;
	font-family: 'SF-UI-Display-Regular','Georgia','Times New Roman'
}
table,th,td
{
    border:2px solid rgb(141, 141, 141);
}
table
{
    border-collapse:collapse;
    width:100%;
}
td
{
    height:30px;
}
tbody tr:nth-child(even)
{
  background: rgb(219, 241, 255);
}

.form {
    max-width: 50%;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: 'SF-UI-Display-Regular','Georgia','Times New Roman';
}
    .form input {
        width: 100%;
        padding: 1em;
        line-height: 1.4;
        border: 1px solid grey;
        border-radius: 3px;
    }

        .form input[type="text"],
        .form input[type="password"],
        .form input[type="email"],
        .form select {
            font-family: SF-UI-Display-Regular;
            background: rgba(255,255,255,.1);
            border: none;
            border-radius: 4px;
            font-size: 15px;
            margin: 0;
            outline: 0;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            background-color: #e8eeef;
            color: #8a97a0;
            -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            margin-bottom: 30px;
        }

label {
    font-size: 15px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
}