@import url(https://fonts.googleapis.com/css?family=Roboto:300);



/****Utilisateur ? Go me confirmer/préciser ****/
.formulaire {
    background-image: url("background.jfif");
}

h1 {
    text-align: center;
}

.form {
    max-width: 50%;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form input {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    border: 1px solid grey;
    border-radius: 3px;
}
 
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form select {
    font-family: Georgia;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
 
label {
    font-size: 15px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
}

/****Page post-Login****/

.Accueil {
    background-image: url("background.jfif");
}



/****Header****/
.Entete {
    background-color: #10172d;
    position: relative;
    margin: 0;
    padding: 0;
}

.userBanner{
  font-family: "Roboto", sans-serif;
}

#ProfilU
{
  float: right;
}

.pseudo {
  font-family: "Roboto", sans-serif;
  float: right;
  color: white;
  
} 

.menu nav{
  font-family: "Roboto", sans-serif;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .menu li{
    float: left;
}
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #888;
  }





/****Page de Login****/
.formLogin {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

.Portail {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

.Portail input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

.Portail .bouton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2570fc;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

.Portail .bouton:hover,.Portail .bouton:active,.Portail .bouton:focus {
    background: #1164ff;
  }
  
  /**.formLogin body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  } **/

